[submodule "extensions/plum"]
	path = extensions/plum
	url = https://github.com/rime/plum.git
[submodule "extensions/librime"]
	path = extensions/librime
	url = https://github.com/rime/librime.git
[submodule "extensions/my-rime-config"]
	path = extensions/my-rime-config
	url = git@github.com:gcclll/rime.git
